* {
    padding: 0;
}

.sessao {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;
}

.senha-gerada {
    font-size: 2em;
    color: darkcyan;
    margin: 40px 0;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.gerar-senha {
    display: block;
    margin: 40px 0;
    font-size: 2em;
}